.page.theme_light {
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --title-text-color: #353430;
  --title-accent-color: #353430;
  --accent-color: #ff8dcb;
  --rec: "";
  --bulb: none;
  --bg-cover: url(../images/cover-image-light.png);
  --button-color: #353430;
  --button-color-shadow: rgba(50, 49, 45, 0.4);
  --button-color-active: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --title-text-color: #353430;
    --title-accent-color: #353430;
    --accent-color: #ff8dcb;
    --rec: "";
    --bulb: none;
    --bg-cover: url(../images/cover-image-light.png);
    --button-color: #353430;
    --button-color-shadow: rgba(50, 49, 45, 0.4);
    --button-color-active: #353430;
  }
}
