:root {
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --rec: "rec";
  --bulb: block;
  --bg-cover: url(../images/cover-image-dark.png);
  --button-color: #ff0070;
  --button-color-shadow: rgba(255, 0, 112, 0.4);
  --button-color-active: #ff0070;
  --font: "IBM Plex Mono", "monospace";
}
